.menu {
  display: flex;
}

.menu-item {
  color: #005ba1 !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  padding: 5px !important;
  margin: 20px !important;
}

@media only screen and (max-width: 600px) {
  .menu-item {
    display: none;
  }
  .search-title {
    font-size: 22px;
    text-align: center;
    color: white;
    font-weight: 400;
    text-shadow: 1px 1px white;
  }

  .search-input {
    font-size: 10px;
  }
  .search-input {
    text-align: center;
  }
  .card-box {
    margin: 30px;
  }
  .card-showcase {
    max-width: 300px;
  }

  .account-form {
    display: block !important;
  }
  .search-desc {
    color: white;
    text-align: center;
    font-size: 17px;
    text-shadow: 1px 1px white;
  }
  .button-search {
    padding: 8px !important;
    font-size: 10px !important;
  }
  .social-block {
    display: block !important;
  }
  .info {
    display: block !important;
  }
  .post-info {
    display: block !important;
  }
  .user-info {
    width: fit-content !important;
  }
}

.search-title {
  text-shadow: 1px 1px black;
  text-transform: uppercase;
  color: black;
}

.search-input {
  background-color: white;
  border-radius: 10px;
  font-size: 20;
  border: none;
}

.search-desc {
  text-shadow: 1px 1px black;
  font-size: 20px;
}

.card-box {
  max-width: 400px;
  margin: 10px;
  min-height: 330px;
  max-height: 400px;
}

.card-showcase {
  max-width: 350px;
  margin: 6px;
}

.button-search {
  background: linear-gradient(#4ea2e3, #1684d9);
  color: white !important;
  font-weight: 600 !important;
  padding: 10px !important;
  margin: 10px !important;
}

.button-more {
  margin-left: auto !important;
  display: block !important;
  margin-right: auto !important;
  margin-top: 50px !important;
  background: linear-gradient(#4ea2e3, #1684d9) !important;
  padding: 10px 30px !important;
  color: white !important;
  font-weight: 600 !important;
}

.social {
  margin: 40px 0;
  padding: 60px;
  background: gainsboro;
}

.social-button {
  padding: 10px 24px !important;
  margin: 10px !important;
}

.interaction-button {
  padding: 8px 12px !important;
  margin: 10px !important;
}

.social-block {
  width: 50% !important;
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
}

.tips-box {
  max-width: 500px;
  margin: 20px;
}

.contact-paper {
  margin: 10px;
  padding: 10px;
}

.route-link {
  text-decoration: none;
  color: inherit;
}

.footer {
  background-color: skyblue;
  padding: 20px;
}

.menu-dropdown {
  top: 5% !important;
  bottom: 5% !important;
}

body {
  background: none !important;
}

.form-auth {
  padding: 30px;
  border-radius: 10px;
  border: 1px orange dashed;
  margin: 20px;
}

.search-city {
  margin-bottom: 10px;
}

.account-form {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

/* Button */

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 1px solid gray;
  color: black;
  background-color: white;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.profile-links {
  display: flex;
  flex-direction: column;
}

.profile-links .route-link {
  padding: 10px;
  margin: 10px;
}

.image img {
  width: 200px;
}

/* Detail */
.post-info {
  display: flex;
  justify-content: space-between;
}

.user-info {
  width: 100%;
  display: flex;
  padding: 20px;
  background-color: whitesmoke;
}

.type-badge {
  border-color: blue;
  border: 2px solid blue;
  width: fit-content;
  background: rgba(0, 40, 219, 0.8);
}

.genre-badge {
  border-color: goldenrod;
  border: 2px solid goldenrod;
  width: fit-content;
  background: rgba(204, 134, 4, 0.8);
}

.location-badge {
  border-color: green;
  border: 2px solid green;
  width: fit-content;
  background: rgba(0, 99, 27, 0.8);
}

.badge-info {
  display: flex;
}

.badge {
  color: white;

  padding: 3px 20px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 12px;
  border-radius: 100px;
}

.badge:hover {
  cursor: pointer;
  opacity: 0.9;
}

.info-text {
  margin-left: 20px;
}

.user-info img {
  border-radius: 100%;
}

.comments-part {
  margin-bottom: 20px;
}

.comment-item {
  background-color: whitesmoke;
  width: 60%;
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
