.menu {
  display: flex;
}

.menu-item {
  color: #005ba1;
  font-weight: 400;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .menu-item {
    display: none;
  }
  .search-title {
    font-size: 20px;
    text-align: center;
  }
  .search-input {
    font-size: 10px;
  }
  .search-input {
    text-align: center;
  }
}

.search-title {
  text-shadow: 2px 1px black;
  text-transform: uppercase;
}

.search-input {
  background-color: white;
  border-radius: 10px;
  font-size: 20;
  border: none;
}

.search-desc {
  text-shadow: 1px 1px black;
  font-size: 20px;
}

.card-box {
  max-width: 380px;
}
