.menu {
  display: flex;
}

.menu-item {
  color: #005ba1 !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  padding: 5px !important;
  margin: 20px !important;
}

@media only screen and (max-width: 600px) {
  .menu-item {
    display: none;
  }
  .search-title {
    font-size: 22px;
    text-align: center;
    color: white;
    font-weight: 400;
    text-shadow: 1px 1px white;
  }

  .search-input {
    font-size: 10px;
  }
  .search-input {
    text-align: center;
  }
  .card-box {
    max-width: 300px;
  }
  .card-showcase {
    max-width: 300px;
  }

  .account-form {
    display: block !important;
  }
  .search-desc {
    color: white;
    text-align: center;
    font-size: 17px;
    text-shadow: 1px 1px white;
  }
  .button-search {
    padding: 8px !important;
    font-size: 10px !important;
  }
  .social-block {
    display: block !important;
  }

}

.search-title {
  text-shadow: 1px 1px black;
  text-transform: uppercase;
  color: black;
}

.search-input {
  background-color: white;
  border-radius: 10px;
  font-size: 20;
  border: none;
}

.search-desc {
  text-shadow: 1px 1px black;
  font-size: 20px;
}

.card-box {
  max-width: 380px;
}

.card-showcase {
  max-width: 350px;
  margin: 6px;
}

.button-search {
  background: linear-gradient(#4ea2e3, #1684d9);
  color: white !important;
  font-weight: 600 !important;
  padding: 10px !important;
  margin: 10px !important;
}

.button-more {
  margin-left: auto !important;
  display: block !important;
  margin-right: auto !important;
  margin-top: 50px !important;
  background: linear-gradient(#4ea2e3, #1684d9) !important;
  padding: 10px 30px !important;
  color: white !important;
  font-weight: 600 !important;
}


.social {
  margin: 40px 0;
  padding: 60px;
  background: gainsboro;
}

.social-button {
  padding: 10px 24px !important;
  margin: 10px !important;
}

.social-block {
  width: 50% !important;
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
}

.tips-box {
  max-width: 500px;
  margin: 20px;
}


.contact-paper {
  margin: 10px;
  padding: 10px;
}

.route-link {
  text-decoration: none;
  color: inherit;
}

.footer {
  background-color: skyblue;
  padding: 20px;
}

.menu-dropdown {
  top: 5% !important;
  bottom: 5% !important;
}

body {
  background: none !important;
}

.form-auth {
  padding: 30px;
  border-radius: 10px;
  border: 1px orange dashed;
  margin: 20px;
}

.search-city {
  margin-bottom: 10px;
}

.account-form {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}
